.rv-root {
    padding: 30px;
    min-width: 500px;
}

.rv-gobackplace {
    margin-bottom: 30px;
}

.rv-table {
    width: 100%;
    table-layout: fixed;
}

.rv-table td,
.rv-table th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rv-firstheader {
    width: 45%;
}
