.msg-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    min-height: 90vh;
    padding: 10px 30px;
    box-sizing: border-box;
}

.msg-header {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.msg-content {
    width: 100%;
    font-size: 24px;
    text-align: center;
}

.msg-divider {
    margin-bottom: 15px;
}
